{% extends 'layout.html' %}

{% block content %}
<div class="contariner" style="max-width:800px; margin:0 auto">
    <div class="page-header">
        <h2>Book List</h2>
    </div>
    <table class="table hover-table">
        <thead>
            <th>Book Name</th>
            <th>Author</th>
            <th>Catalogue</th>
            <th>ISBN code</th>
            <th></th>
        </thead>
        
        <tbody>
           {% for book in books %} 
           <tr>
               <td>{{ book.name }}</td>
               <td>{{ book.author }}</td>
               <td>{{ book.catalogue }}</td>
               <td>{{ book.code }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
    <form action="/booklist" class="form-inline" method="post">
        {{ form.hidden_tag() }}
        {{ form.name(class='form-control', placeholder='Book Name')}}
        {{ form.author(class='form-control', placeholder='Author') }}
        {{ form.catalogue(class='form-control', placeholder='Catalogue')}}
        {{ form.code(class='form-control', placeholder='ISBN code ')}}
        {{ form.submit(class='btn btn-small btn-success')}}
    </form>
</div>

{% endblock %}